/* RESET */
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/*
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 234, 229);
}

header {
  height: 5%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
}

footer {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAROUSEL */
/*
.img-box {
  display: flex;
  justify-content: center;
  max-height: 100%;
  min-height: 100%;
  width: 60%;
  /* background-image: url(../07_BOTANICAL_01.jpg); */ /*
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-box img {
  width: 30%;
}

.carousel {
  display: flex;
  width: 50%;

  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid violet; */ /*
  position: relative;
}

.carousel img {
  width: 10%;
}

.carousel img:hover {
  transform: scale(130%);
}

.hidden {
  display: none;
}

/* .cards {
  width: calc(100% / 6);
  padding: 1rem;
  border: 1px solid #b14a37;
} */

/* BUTTON */ /*

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 2rem;
  /* border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem; */ /*
}

.left {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #898aac;
}

.right {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #19141a;
}   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.items {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

.item {
  height: 100%;
  display: none;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .img-info {
  position: absolute;
  text-align: right;
  color: #fff;
  bottom: 20px;
  right: 15px;
}

.img-info p {
  font-size: 0.9rem;
}

.item.active {
  display: block;
}

.thumbs {
  height: 300px;
  background: #000;
  position: relative;
}

.thumb {
  height: calc((300px) / 5);
  opacity: 0.5;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb.active {
  border: 2px solid #ccc;
  opacity: 1;
}

.prev,
.next {
  width: 20px;
  height: 20px;
  margin: 5px 0;
  border-radius: 50%;
  background: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  cursor: pointer;
  z-index: 999;
}

.prev {
  top: 0;
}

.next {
  bottom: 0;
}

.prev::after {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%) rotate(-45deg);
}

.next::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: block;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%) rotate(135deg);
}

/* **************** */

.row {
  display: flex;
  width: 100%;
}

.col-big {
  width: 80%;
}

.col-small {
  width: 20%;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  height: 800px;
  position: relative;
}

.small-img {
  height: calc(100% / 5);
  width: 150px;
  /* background-image: url(../img/01.webp); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.selected {
  border: 1px solid white;
}

.bg-gray {
  background-color: rgba(65, 65, 65, 0.451);
}
