/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 234, 229);
}

header {
  height: 5%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
}

footer {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAROUSEL */

.img-box {
  display: flex;
  justify-content: center;
  max-height: 100%;
  min-height: 100%;
  width: 60%;
  /* background-image: url(../07_BOTANICAL_01.jpg); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-box img {
  width: 30%;
}

.carousel {
  display: flex;
  width: 50%;

  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid violet; */
  position: relative;
}

.carousel img {
  width: 10%;
}

.carousel img:hover {
  transform: scale(130%);
}

.hidden {
  display: none;
}

/* .cards {
  width: calc(100% / 6);
  padding: 1rem;
  border: 1px solid #b14a37;
} */

/* BUTTON */

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 2rem;
  /* border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem; */
}

.left {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #898aac;
}

.right {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #19141a;
}
